.DS_Store
/build
/.build
/.swiftpm
/*.xcodeproj
.publish

fs3.png
index.html
feed.rss
fs1.png
fs2.png
ifDrop.png
ifFeed.png
ifHome.png
jobPoster1.png
jobSearcher2.png
jobfinder_home1.png
lf1.png
lf3.png
lf5.png
sitemap.xml
styles.css
ticinvite.png
ticinvites.png
ticsignin.png
tictactoe_home.png
vs1.png
vs2.png
vsMain.png
LukasHolmberg_CV.pdf
